
@{
    ViewBag.Title = "Your Email has been confirmed.";
}
<h2>@ViewBag.Title.</h2>

<p>
    @Html.ActionLink("Go Back", "Index")
</p>

<div class="row">
    <div class="col-md-8">
        Your Email has been confirmed.
    </div>
</div>  